body {
	padding-top: 62px;
}

.navbar {
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.form-control {
	width: 30% !important;
}

.infoClose, .propClose {
	cursor: pointer;
	float: right;
	font-weight: bold;
	opacity: .5;
	-moz-opacity: .5;
	-webkit-opacity: .5;
	font-family: "Lucida Console", Arial;
}

.infoClose:hover, .propClose:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

.addDate {

}

.proposition {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding: 10px !important;
	margin: 5px 0;
	border: 1px solid #393A35;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn {
	font-size: 12px !important;
}

h1 small {
	font-size: 50% !important;
}

.navbar-brand {
	padding: 15px 10px !important;
	line-height: 15px !important;
	color: #fff !important;
	font-family: Courier;
}

.orange {
	color: orange;
}