body {
	padding-top: 62px;
}

.navbar {
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.form-control {
	width: 30% !important;
}

.infoClose, .propClose {
	cursor: pointer;
	float: right;
	font-weight: bold;
	opacity: .5;
	-moz-opacity: .5;
	-webkit-opacity: .5;
	font-family: "Lucida Console", Arial;
}

.infoClose:hover, .propClose:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

.addDate {

}

.proposition {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding: 10px !important;
	margin: 5px 0;
	border: 1px solid #393A35;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}

.btn {
	font-size: 12px !important;
}

h1 small {
	font-size: 50% !important;
}

.navbar-brand {
	padding: 15px 10px !important;
	line-height: 15px !important;
	color: #fff !important;
	font-family: Courier;
}

.orange {
	color: orange;
}

#tableProp td, #tableResults td {
	text-align: center;
}

#row-mois {
	text-transform: uppercase;
}

#row-mois td span, #row-annees td span {
	/*display: inline-block;*/
}

#row-mois td[colspan="1"] span, #row-annees td[colspan="1"] span {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	writing-mode: lr-bt ;
}

.spanCren {
	display: inline-block;
	margin: 0 5px;
	font-weight: bold;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.linksInput input {
	min-width: 350px;
}

.emptyTd {
	visibility: hidden;
}

.winner {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(img/star.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}